@font-face {
	font-family: 'GmarketSansMedium';
	src: url('resources/GmarketSans-subset-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('resources/GmarketSans-subset-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-size:1rem;
	font-family:'GmarketSansMedium';
}

canvas {
	position:fixed;
	top:0px;
}

em {
	font-family:'GmarketSansBold';
	font-style: normal;
	font-size:1.7em;
}

.answer-circle {
	display:inline-block;
	width:25px;
	height:25px;
	background-color:#c8c8c8;
	border-radius:50%;
}

.answer-circle-on {
	background-color:black;
}

.answer-circle:hover, .answer-circle:focus { 
	animation-duration: 3s; 
	animation-name: rainbow; 
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes rainbow {     
	0% { background-color: #ff2a2a; }
	15% { background-color: #ff7a2a; }
	30% { background-color: #ffc52a; }
	45% { background-color: #43ff2a; }
	60% { background-color: #2a89ff; }
	75% { background-color: #202082; }
	90% { background-color: #6b2aff; } 
	100% { background-color: #e82aff; }
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 27rem;
	padding: 50px 20px 50px 20px;
}

.answer-content {
	margin-top:50px;
	padding:0px 30px 0px 30px;
	text-align: justify;
}

.answer-content:before{
	content: '';
	display: block;
	width: 100%;
}

.answer-content:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.answer-circle-label {
	position:absolute;
	font-size:0.7rem;
}

#prev-question {
	color:black;
	font-size:1rem;
	position:absolute;
	top:80%;
	background-color:white;
	border:0px;
	font-family:'GmarketSansMedium';
}