@font-face {
	font-family: 'GmarketSansMedium';
	src: url('resources/GmarketSans-subset-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('resources/GmarketSans-subset-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@media (max-width: 96em) {
	html {
	   font-size: 8px;
	   }
	}

body {
    font-size:1rem;
    color: white;
    font-family:'GmarketSansMedium';
	background-color:yellowgreen;
	min-height: 100vh;
	margin:0;
	height: 100vh;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1125px;
	min-width: 27rem;
	width:100%;
	padding: 8rem 8rem 0 8rem;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

#question-box {
    border : 0.7rem solid white;
	min-height: 40vh;
	position: relative;
	margin-bottom: 2rem;
}

.question-desc {
	margin: 1rem;
	height: 1.7rem;
}

.question-desc em {
	float: left;
	font-family:'GmarketSansBold';
	font-style: normal;
	font-size:3em;
}

.question-desc span {
	float: right;
	font-size: 1.7em;
	color:rgba(255, 255, 255, 0.7);
}

#question-content {
	padding: 1rem;
	font-size: 4em;
	position: absolute;
	bottom: 0;
	font-family:'GmarketSansBold';
}

button {
	font-family:'GmarketSansMedium';
	background-color: transparent;
	display: block;
	width: 100%;
	border: 0.3rem solid white;
	border-radius: 1rem;
	min-height: 3em;
	height: 6.5vh;
	max-height: 200px;
	margin-bottom: 1rem;
	color:white;
	font-size: 3em;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

button:hover, button:focus{
	/* border-color: black; */
	/* color:black; */
	animation-duration: 3s; 
	animation-name: rainbow; 
	animation-iteration-count: infinite;
	outline: 0;
}

#previous-question {
	margin-top:6rem;
}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

@keyframes rainbow {     
	0% { color: #ff2a2a; border-color: #ff2a2a; }
	15% { color: #ff7a2a; border-color: #ff7a2a;}
	30% { color: #ffc52a; border-color: #ffc52a;}
	45% { color: #43ff2a; border-color: #43ff2a;}
	60% { color: #2a89ff; border-color: #2a89ff;}
	75% { color: #202082; border-color: #202082;}
	90% { color: #6b2aff; border-color: #6b2aff;} 
	100% { color: #e82aff; border-color: #e82aff;}
}
