@font-face {
	font-family: 'GmarketSansMedium';
	src: url('resources/GmarketSans-subset-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('resources/GmarketSans-subset-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    font-size:1rem;
    color: white;
    font-family:'GmarketSansMedium';
    background-color:yellowgreen;
}
.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1125px;
	padding: 30px 40px 0px 40px;
}

#question-box {
    border : 4px solid white;
	min-height: 20rem;
	max-height: 30%;
	position: relative;
	margin-bottom: 20px;
}

.question-desc {
	margin: 18px;
	height: 1.7rem;
}

.question-desc em {
	float: left;
	font-family:'GmarketSansBold';
	font-style: normal;
	font-size:1.7em;
}

.question-desc span {
	float: right;
	color:rgba(255, 255, 255, 0.7);
}

#question-content {
	padding: 18px;
	font-size: 1.6rem;
	position: absolute;
	bottom: 0;
	font-family:'GmarketSansBold';
}

button {
	font-family:'GmarketSansMedium';
	background-color: transparent;
	display: block;
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	height: 3rem;
	margin-bottom: 8px;
	color:white;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

button:hover, button:focus{
	/* border-color: black; */
	/* color:black; */
	animation-duration: 3s; 
	animation-name: rainbow; 
	animation-iteration-count: infinite;
	outline: 0;
}

#previous-question {
	margin-top:40px;
}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

@keyframes rainbow {     
	0% { color: #ff2a2a; border-color: #ff2a2a; }
	15% { color: #ff7a2a; border-color: #ff7a2a;}
	30% { color: #ffc52a; border-color: #ffc52a;}
	45% { color: #43ff2a; border-color: #43ff2a;}
	60% { color: #2a89ff; border-color: #2a89ff;}
	75% { color: #202082; border-color: #202082;}
	90% { color: #6b2aff; border-color: #6b2aff;} 
	100% { color: #e82aff; border-color: #e82aff;}
}
