@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cafe24Oneprettynight';
  min-height: -webkit-fill-available;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.container {
  margin-top: 1rem;
  position: fixed;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.content {
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
}

.question-desc {
  width: 27rem;
  position: absolute;
  text-align: left;
  font-family: 'Cafe24Ssurround';
  letter-spacing: 0px;
  color: #2f3438;
  opacity: 1;
}

#question-number {
  position: absolute;
  top: 24px;
  left: 18px;
  font-style: normal;
  font-size: 16px;
}

#question-step {
  float: right;
  right: 20%;
  font-size: 1.7vmax;
  font-family: 'Cafe24Ssurround';
  letter-spacing: 0px;
  color: #2f3438;
  opacity: 0.5;
}

#question-content {
  position: relative;
  top: 180px;
  text-align: center;
  font-family: 'Cafe24Ssurround';
  letter-spacing: 0px;
  color: #2f3438;
  opacity: 1;
  font-size: 1.6rem;
}

.button-area {
  position: absolute;
  top: 300px;
  text-align: center;
}

button {
  cursor: pointer;
  display: inline;
  font-family: 'Cafe24Oneprettynight';
  background: #ff6f61 0% 0% no-repeat padding-box;

  border-radius: 10px;
  opacity: 1;
  width: 100%;
  color: white;
  border: 0;
  margin-top: 0.46rem;
  padding: 0rem 1rem 0rem 1rem;
  height: 6vh;
  font-size: 1.3rem;
}

#previous-question {
  position: relative;
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: 'Cafe24Ssurround';
  opacity: 0.7;
}
